//===============================================================================
// About
//===============================================================================

.para-below {
	width: 100%;
	min-height: 100%;
	position: relative;
	z-index: 3;
	background: $nhpink;
}

//===============================================================================
// Parallax Bits
//===============================================================================


div[class^='parallax-bg-'] {
	width: 100%;
	height: 50%;
	position: absolute;
	top:0;
}

.parallax-bg-1 {
	background: lighten($nhpink, 6%);
	background: rgba(lighten($nhpink, 6%), 0.5);
	z-index: 1;
}

.parallax-bg-2 {
	background: lighten($nhpink, 4%);
	background: rgba(lighten($nhpink, 4%), 0.5);
	z-index: 2;
}

.parallax-bg-3 {
	background: lighten($nhpink, 2%);
	background: rgba(lighten($nhpink, 2%), 0.5);
	z-index: 3;
}

.parallax-content {
	width: 100%;
	min-height: 100%;
	position: relative;
	top:0;
	background: $nhpink;

	z-index: 4;
	padding-top: 86px;
	padding-bottom: 205px;
}


// ====================================================
// Central Block
// ====================================================

.central-block {
	width:500px;
	margin: auto;
	font-size: 24px;
	padding: $beta;
	padding-bottom: 0;

	// z-index: 5;

	@media screen and (max-width: $small) {
 		width: 100%;
  }

}

// ====================================================
//  Full Width Image
// ====================================================

.fw-bg-img {
	position: absolute;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-image: url('/img/abouttint.jpg');
	background-position: center;
	z-index: 0;
	position: fixed;
}

.full-page-container {
	width: 100%;
	min-height: 100%;

	&.dark {
		background: $nhdarkblue;
	}

}

// ====================================================
// Available
// ====================================================

.available-block {
 padding: 0 $beta;
 // text-align: center;
 margin-bottom: 86px;

 a {
 	font-style: italic;
 	&:after {
 		content: "";
 		display: block;
 		width: 50px;
 		height: 6px;
 		background: $nearwhite;
 		// margin: auto;
 		margin-top: 6px;
 		margin-bottom: 6px;
 	}
 }
}


// ====================================================
// Skills
// ====================================================

.skills-block {
	// padding-bottom: 0;
}

.skills-title {
	letter-spacing: 0.1em;
	margin-bottom: 6px;
	font-weight: bolder;
	color: rgba($nhdarkblue, 0.8);
	font-size: 16px;

	&:after {
		content: "";
		width: 50px;
		height: 4px;
		background: $lightpink;
		display: block;
	}
}

.skills {
	font-size: 14px;
	color: rgba($nhdarkblue, 0.8);
	@include clearfix;
	margin-bottom: 0px;

	li {
		float: left;
		margin-right: 4px;
		&:after {
			content: ",";
			margin-left: -3px;
		}
		&:last-of-type:after {
			content: none;
		}
	}
}







.content-page {

	padding: 0;

    h1 {

			opacity: 1.0;
			transition: 0.5s;

    	.scrolleddown & {
    		opacity: 0;
    	}
    }

    &.dark h1{
    	color: $nearwhite;
    }
}



// ====================================================
// Contact Page
// ====================================================
.contact-social {
	display: absolute;
	margin-top: 70px;

	.social-icon {
		width: 40px;
		height: 40px;
		padding: 4px;
		margin-right: 6px;

		background: $nhdarkblue;
		 svg {
	    g {
	      fill: $nhpink;
	    }
	  }

    animation-name: bounceIn;
    animation-duration: 1.1s;

		&:nth-of-type(2){ animation-duration: 1.3s; }
		&:nth-of-type(3){ animation-duration: 1.5s; }
		&:nth-of-type(4){ animation-duration: 1.7s; }

	}
}


