//===============================================================================
// About
//===============================================================================

.para-below {
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 3;
	// background: $lightpink;


}

.para-below-blue-1 {
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	background: lighten($nhpink, 6%);
	background: rgba(lighten($nhpink, 6%), 0.5);
	// background-image: url('/img/about/bubble3.svg');
	// border: 4px solid #000;

	z-index: 1;

}

.para-below-blue-2 {
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	background: lighten($nhpink, 4%);
	background: rgba(lighten($nhpink, 4%), 0.5);
	// background-image: url('/img/about/bubble2.svg');
	// border: 4px solid #000;

	z-index: 2;
}

.para-below-blue-3 {
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	background: lighten($nhpink, 2%);
	background: rgba(lighten($nhpink, 2%), 0.5);
	background-image: url('/img/about/bubble1.svg');
	// border: 4px solid #000;

	z-index: 3;
}

.para-below-blue-4 {
	width: 100%;
	min-height: 100%;
	position: absolute;
	top:0;
	background: $nhpink;
	// border: 4px solid #000;

	z-index: 4;
	padding-top: 86px;
}

.about-block {
	width:500px;
	margin: auto;
	font-size: 24px;
	padding: $beta;
	z-index: 5;
	// position: absolute;
	// left: 50%;
	// margin-left: -250px;

	@media screen and (max-width: $small) {
 		width: 100%;
  }

}

.fw-bg-img {
	position: absolute;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-image: url('/img/abouttint.jpg');
	background-position: center;
	z-index: 1;
	position: fixed;
}

.full-page-container {
	width: 100%;
	min-height: 100%;

	&.dark {
		background: $nhdarkblue;
	}

}

.about-header {
	position: fixed;
	left: 0;
	top: 0;
	// height: 30px;
	width: 100%;
	z-index: 8;

	background: $lightpink;
	text-align: center;

}


.menu-logo {
	// background: $nhpink;
	// height: 100%;
	padding: 3px 16px;
	color: $nhdarkblue;
	font-family: $sans-serif;
	font-weight: bolder;
	letter-spacing: 0.075em;
	font-size:18px;

  font-feature-settings: "kern" on, "liga" on, "calt" on, "ss01";

	// transition: 0.4s;

  &:hover {
  	// font-size: 24px;
  	// transform: scale(1.2);
  }
}

.menu-top {
	width: 100%;
	background: $nhdarkblue;
	position: fixed;
	top: 0;
	z-index: 5;
	padding: 0;

	ul {
		margin:0;
		z-index: 5;
		text-align: center;
		// @media screen and (max-width: $small) {
			// height: 400px;
		// }
	}

	padding-top: 0;
	transition: 0.4s cubic-bezier(.12,-1.5,.66,-0.49);

	&.showmenu {
		padding-top:30px;
		transition: 0.4s cubic-bezier(.12,2.5,.66,1.29);
	}


}
.menu-item {
	display: inline-block;
	// background: $nhdarkblue;
	// height: 30px;
	position: relative;
	padding: 0 8px;

	color: white;
	font-style: italic;
	letter-spacing: 0.05em;
	font-size:18px;

	a {
		color: white;
	}

	@media screen and (max-width: $small) {
		padding: 0 2px;
	font-size: 16px;

		// // .showmenu & {
		// 	&:nth-of-type(1){ top:30px;}
		// 	&:nth-of-type(2){ top:60px;}
		// 	&:nth-of-type(3){ top:90px;}
		// 	&:nth-of-type(4){ top:120px;}
		// // }

  }

	&:after {
    content: "";
    background: $nearwhite;
    height: 3px;
    display: block;
    z-index: 5;
    position: absolute;

    bottom: -3px;
    width: 100%;

    width: 0;
    left: 50%;

    transition: 0.4s;

	}
	&:hover:after {
		width: 100%;
		left:0;
	}

}

.menu-item-border {
	color: $nhdarkblue;
	background: $lightpink;
	border: 3px solid $nhdarkblue;
	padding-top: 1px;
	&:first-of-type {
		border-left:none;
	}
}



.about-menu-btn {
	width: 50px;
	height: 50px;
	background: $nhdarkblue;
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -25px;
	bottom: 0;
	margin-bottom: -25px;
	border-radius: 25px;
	z-index:-1;

		@media screen and (max-width: $small) {
			// background: white;
			// display: inline;
		}

}



.hero-text-outer {
    top: 0;
    position: absolute;
    z-index: 3;

    h1 {
    	color: $nearwhite;
			opacity: 1.0;
			transition: 0.5s;

    	.scrolleddown & {
    		opacity: 0;
    	}
    }
}
