ul.experiments {
  width: 100%;
  height: 100%;
  padding: $beta $beta/2;
  background: $nhpink;

  padding-top: $beta *3;
  text-align: center;

  li {
    width: 25%;

    display: inline-block;

    padding: 0 $beta/2;
    margin-bottom: $beta;
    @media screen and (max-width: $large) {
        width:33.3%
      }
    @media screen and (max-width: $medium) {
        width:50%
    }


  }
}

.experiment-inner {
     background: $lightpink;
     height: 200px;
}


.experiment-hero-outer {
  height: 50%;
  position: relative;
  background:$nhpink;
}