ul.experiments {
  position: relative;
  min-height: 100%;
  width: 100%;
  padding: $beta $beta/2;
  background: $nhdarkblue;//$nhpink;

  text-align: center;
  margin: 0;

  padding-top: 148px;

  li {
    // width: 25%;
    width: 50%;

    display: inline-block;

    padding: 0 $beta/2;
    margin-bottom: $beta;
    position: relative;
    @media screen and (max-width: $large) {
        width:33.3%
      }
    @media screen and (max-width: $medium) {
        width:50%
    }

  }

}

.experiment-inner {
     background: $nhdarkblue;//$lightpink;
     height: 200px;

      background-size: cover;
      background-position: center;

      position: relative;
      display: block;
      // padding: 100px;
      border: 3px solid $nearwhite;

      transition: 0.4s;

      &:after {
      }

      &:hover:after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background: rgba($nhdarkblue, 0.8);
      }


     h3 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      font-weight: bold;
      color: $nhdarkblue;
      letter-spacing: 0.05em;
      line-height: 1.2;

      &:after {
        content: "";
        display: block;
        background: $nearwhite;
        height: 6px;
        width: 50px;
        margin: auto;
        margin-top: 6px;
      }
     }



    &:hover h3 {
      color: $nhpink;
    }

    &:hover {
      transform: scale(1.05);
    }

}


.experiment-hero-outer {
  height: 100%;
  position: relative;
  background: $nhpink;
  // background-image: url('/img/experiments/dragon-thumb.gif');
  // background-size: cover;
  //$nhpink;
  .homehero-text-outer h1{
    color:  $nhdarkblue;
  }
}



// ===============================================
// Individual Experiments Page
// ===============================================

$lightcanvascolour: #e1f2f4;
// $lightcanvascolour: #d3ebef;
// $lightcanvascolour: #FCF7E9;
$darkcanvascolour: #113;
$darkcanvascolour: $nhdarkblue;

.bgcanvas {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
}

.bgcanvas[resize] {
    width: 100%;
    height: 100%;
}


.ltcanvas {
  background: $lightcanvascolour;
}

.drkcanvas {
  background: $darkcanvascolour;
}

.pinkcanvas {
  background: $nhpink;
}



// ===============================================
// Dragon specific CSS
// ===============================================


.dragon-background {
  background: url('/img/experiments/dragon-bg.png');
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}

// ===============================================
// Sequencer specific CSS
// ===============================================

.bottom-buttons {
  position: absolute;
  z-index: 10;
  bottom: 0;
  text-align: center;
  width: 100%;
  padding-bottom: 12px;

  // Abstract this
  font-size: $midText;
  // letter-spacing: 0.075em;
  font-weight: bolder;
}

.paper-button {
  padding: 8px 12px;
  background: $nhpink;
  transition: 0.2s;
  font-family: $sans-serif;

  span {
   font-family: $sans-serif;
  }


  &:first-child {
    margin-right: 8px;
  }
  &:hover {
    background: darken($nhpink, 10%);
    color: white;
  }



  &.seqPaused {
    .seq-pause {
      display: none;
    }
    .seq-play {
      display: inline;
    }
  }

}

.seq-pause {
    display: inline;
}

.seq-play {
    display: none;
}

