//===============================================================================
// Full Width home Image
//===============================================================================

.homehero-outer {
  background: $lightpink;
  padding: $beta;

  @media screen and ( max-width: $small ) {
    padding: $gutter;
  }

}
.homehero-inner {
  width:100%;
  height: 100%;
  background: $nhpink;

}

.homehero-text-outer {
    display: table;
    width: 100%;
    height: 100%;
}

.homehero-text-inner {
  display: table-cell;
  position: relative;
  vertical-align: middle;
  text-align: center;
  h1{
    color: $nhdarkblue;
    font-size: 126px;
    letter-spacing: .03em;
    font-weight: 500;
    @media screen and ( max-width: $medium ) {
      font-size: 86px;
    }
    @media screen and ( max-width: $small ) {
      font-size: 54px;
    }
    @media screen and ( min-width: $xlarge ) {
      font-size: 186px;
    }
  }
}


// ====================================================
// Home Logo
// ====================================================


.hero-title {
  color: $nhdarkblue;
  font-weight: lighter;
  margin-bottom: 0px;
  margin-top: 24px;
  line-height: 0.8;

  font-feature-settings: "kern" on, "liga" on, "calt" on, "ss01";
}

// ====================================================
// Home Submenu
// ====================================================

.homesub-container {
  margin-top: 12px;
  opacity: 1.0;
  transition: 0.4s;

  overflow: hidden;
  min-height: 75px;
  position: relative;


  .wf-loading &{
    opacity: 0;
  }

}

.homesub-tag {

  margin: 0;
  position: absolute;
  width: 100%;
  text-align: center;
  padding-top: 8px;
  transition: margin-top 0.8s;

  &:before {
    content: "";
    width: 80px;
    background: $nearwhite;
    height: 6px;
    display: block;
    left: 50%;
    margin-left: -40px;
    margin-bottom: 4px;
    position: absolute;
    margin-top: -8px;

    // Details the transition as it comes in
    transition:
      margin-top 0.8s,
      width 0.8s cubic-bezier(.12,4.5,.89,1.26),
      margin-left 0.8s cubic-bezier(.12,4.5,.89,1.26);
  }
}

.showmenu .homesub-tag {
  margin-top: - 50px;

  &:before {
    margin-top: 42px;
    width: 0;
    margin-left: 0;

    // Details the transition as it leaves
    transition:
      margin-top 0.8s,
      width 0.8s cubic-bezier(.12,-4.5,.66,-0.49),
      margin-left 0.8s cubic-bezier(.12,-4.5,.66,-0.49);

  }
}



.homesub-text {
  font-family: $serif;
  font-weight: light;
  font-style: italic;
  font-size: 34px;

   @media screen and ( max-width: $medium ) {
    font-size: 26px;
  }
  @media screen and ( max-width: $small ) {
    font-size: 18px;
  }

}

.homesub-menu {
  text-align: center;
}

.homesub-menu li {
  display: inline-block;

  margin-left: 24px;
  margin-right: 24px;
  overflow: hidden;
  text-align:center;
  position: relative;

  &:last-child {
    margin-right: 0;
  }
  &:first-child {
    margin-left: 0;
  }

  @media screen and ( max-width: $medium ) {
    margin-left: 12px;
    margin-right: 12px;
  }
  @media screen and ( max-width: $small ) {
    margin-left: 2px;
    margin-right: 2px;
  }

  &:after {
    content: "";
    background: $nearwhite;//url('/img/shared/fluidgraphic-strip.jpg');
    height: 6px;
    display: block;
    z-index: 5;
    position: absolute;

    bottom: 0;
    width: 100%;

    width: 0;
    left: 50%;

    transition: 0.4s;

    .showmenu & {
      width: 100%;
      left: 0;

    }
  }


  &:hover:after {
    background: $nhdarkblue;
  }
}

.homesub-menu li {
  h3 {
    margin-bottom: -100px;
    transition: 0.4s;
    padding-bottom: 4px;

    .showmenu & {
      margin-bottom: 0;
    }
}

  &:nth-child(2){
    h3, &:after{transition: 0.4s;}
  }
  &:nth-child(3){
    h3, &:after{transition: 0.8s;}
  }
  &:nth-child(4){
    h3, &:after{transition: 1s;}
  }

}


// ====================================================
// Home Canvas
// ====================================================


.homecanvas {
  // background: #000;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.homecanvas[resize] {
    width: 100%;
    height: 100%;
}



// ====================================================
// Home Buttons
// ====================================================

.home-btn-container {
  text-align: center;
  bottom: 24px;
  position: absolute;
  width: 100%;
  left: 0;
}


// ====================================================
// Showreel Button
// ====================================================

.btn-showreel {
  font-family: $sans-serif;
  letter-spacing: 0.05em;
  font-size: 18px;
  padding: 8px 16px;
  background: $lightpink;
  color: $nhdarkblue;
  border:3px solid $nhdarkblue;
  transition: 0.2s;

  &:hover {
    background: $lightpink;//rgba($nhdarkblue, 0.8);
    transform: scale(1.1);
  }

}


// ====================================================
// Show Menu Button
// ====================================================

.btn-showmenu {

  border-radius: 50px;
  color: $nhdarkblue;

  width:50px;
  height: 50px;
  margin-left: 8px;

  background: $lightpink;
  top: 0;

  position: absolute;

  $crosssize: 20px;
  transition: background 0.6s;


  &:before {
    content: "";
    width: $crosssize;
    height: 3px;
    position: absolute;
    display: block;
    background: $nhdarkblue;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  &:after {
    content: "";
    width: 3px;
    height: $crosssize;
    position: absolute;
    display: block;
    background: $nhdarkblue;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: 0.4s;
  }

  &:hover {
    background: $nhpink;
  }

  .showmenu & {
    background: $nhdarkblue;

    &:before {
      background: white;
    }

    &:after {
      height: 0;
      background: white;
    }
  }

}


