//===============================================================================
// Portfolio
//===============================================================================

.portfolio-images {
	float: left;
	width: 100%;
	background: white;

	img{
		width: 100%;
		height: 100%;
		float: left;
	}

	&.white-image {
		padding-left: 250px;

		@media screen and ( max-width: $medium ) {
			padding-left: 0;
		}
	}
}

.portfolio-info {
	@include litegradientBG;
	position: fixed;
	left: 20px;
	top: 40px;
	width: 280px;
	padding: 6px;
	z-index: 90;

	@media screen and ( max-width: $medium ) {
	    position: absolute;
	    left: 0;
	    width: 100%;
	    margin: 0;
	    top: $beta;
	}
}

.portfolio-inner {
	@include clearfix;
	background: $paper;
	padding:$delta;
	padding-top: 32px;
	color: $clr3;

	@media screen and ( max-width: $medium ) {
		// padding: 0 $delta;
		padding-top: $delta;
	}
}

.port-content {

	@media screen and ( max-width: $medium ) {
		display: none;
	}

}

.button-previous {
	float:left;
}

.button-next {
	float:right;
}

