//===============================================================================
// Portfolio
//===============================================================================

.portfolio-images {
	float: left;
	width: 100%;
	background: white;

	img{
		width: 100%;
		height: 100%;
		float: left;
	}

	&.white-image {
		padding-left: 250px;

		@media screen and ( max-width: $medium ) {
			padding-left: 0;
		}
	}
}






//===============================================================================
// Portfolio
//===============================================================================



.portfolio-info {
	@include litegradientBG;
	position: fixed;
	left: 0;
	top: $beta;
	width: 280px;
	padding: 6px;
	z-index: 90;

	display: none;

	@media screen and ( max-width: $medium ) {
	    position: absolute;
	    left: 0;
	    width: 100%;
	    margin: 0;
	    top: $beta;
	}
}

.portfolio-inner {
	@include clearfix;
	background: $lightpink;//$light-pink;//$paper;
	padding:$delta;
	padding-top: 32px;
	color: $nhdarkblue;

	@media screen and ( max-width: $medium ) {
		// padding: 0 $delta;
		padding-top: 8px;
		padding-bottom: 0;
	}

	h3 {
		@media screen and ( max-width: $medium ) {
		    margin-bottom: 4px;
   //  		.portfolio-info.open & {
			// 	margin-bottom: 12px;
			// }
		}
	}
}

.port-content {
	// height: auto;
	max-height: 1000px;
	overflow: hidden;
	transition: height 0.4s;
	@media screen and ( max-width: $medium ) {
		// height:0;
		max-height: 0;
		.portfolio-info.open & {
			margin-top: 12px;
			max-height: 1000px;
		}
	}
}

.port-showinfo {
	display: none;
	background: $nhpink;
	padding: 8px 12px;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%);

	font-weight: bold;
	font-family: $sans-serif;
	letter-spacing: 0.08em;
	transition: 0.2s;

	@media screen and ( max-width: $medium ) {
		display: block;
	}

	&:hover {
		background: darken($nhpink, 10%);
		color: darken($nhdarkblue, 10%);
	}

	.open {
		display: inline;
		.portfolio-info.open &{
			display: none;
		}
	}

	.close {
		display: none;
		.portfolio-info.open &{
			display: inline;
		}
	}

}



