//===============================================================================
// ANIMATIONS
//===============================================================================

/* The animation code */
@keyframes bounceIn {
    0% {transform: scale(0.1);}
    60% {transform: scale(1.2);}
    100% {transform: scale(1.0);}
}