//===============================================================================
// VARIABLES
//===============================================================================



$darkBlueClr: #003f5d;
$midBlueClr: #17557D;
$lightBlueClr: #d3ebef;
$lightOrangeClr: #ff9c4f;
$darkOrangeClr: #FF6347;
$darkRedClr: #c2240c;


//Niall Colours
$sunsetpink: #ffA6B2;
$sunsetblue: #d4f0fd;
$nhred: #C76758;
$nhblue: #567483;
$nhturq: #8AB7AF;

$nhpink: #ffa6b2;
$lightpink: #ffc1c9;
$nhdarkblue: #003f5d;
$nearwhite: white;

$nhdarkerpink: #f3919c;


$red: #E63000;

$paper: #FFF;//lighten(#FEE9D6, 5%);
$ink: $nhdarkblue;
$light-ink: lighten($ink, 35);
$mid-ink: lighten($ink, 20);


// Typography
$base-font-size: 14px;
$body-weight: 400;
$sans-serif: "platform", 'Platform Web', Helvetica, Arial, "Lucida Grande", sans-serif;
$serif: "chaparral-pro",sans-serif;


// Text Sizes Niall
$midText: 18px;

$tera: 86px;
$giga: 60px;
$mega: 48px;
$alpha: 36px;
$beta: 24px;
$gamma: 22px;
$delta: 16px;
$epsilon: 14px;
$zeta: 12px;


// Styles