//===============================================================================
// FOOTER
//===============================================================================
.gbl-foot {
    @include clearfix;
	background: $clr3;
	width: 100%;
    height: $alpha;
    // position: absolute;
    // bottom: 0;
    // left: 0;
}

.gbl-foot-legal {
  margin-bottom: 20px;
}
