//===============================================================================
// VARIABLES
//===============================================================================


// AZ Colours
$mulberry: #830051;
$medi-blue: #003865;
$imed-blue: #00add0;
$blue: #68d3df;
$green: #c4d600;
$pink: #d0006f;
$orange: #f0ab00;
$purple: #3c1053;
$grey: #3f4444;
$stone: #9db0ac;
$l_grey: #babdba;


//Niall Colours
$sunsetpink: #ffA6B2;
$sunsetblue: #d4f0fd;
$nhred: #C76758;
$nhblue: #567483;
$nhturq: #8AB7AF;

$clr2: $sunsetpink;
$clr3: $nhblue;


$red: #E63000;

$paper: lighten(#FEE9D6, 5%);
$ink: #3f4444;
$light-ink: lighten($ink, 35);
$mid-ink: lighten($ink, 20);
$primary: $pink;


// Typography
$base-font-size: 14px;
$body-weight: 400;
$sans-serif: "platform", 'Platform Web', Helvetica, Arial, "Lucida Grande", sans-serif;
$serif: "chaparral-pro",sans-serif;
// $serif: 'Crimson Text', serif;

$tera: 86px;
$giga: 60px;
$mega: 48px;
$alpha: 36px;
$beta: 24px;
$gamma: 22px;
$delta: 16px;
$epsilon: 14px;
$zeta: 12px;


// Styles