//===============================================================================
// FOOTER
//===============================================================================
.gbl-foot {
  color: lighten($ink, 40);
  border-top:1px $ink solid;
  padding-top: $alpha;
}

.gbl-foot-legal {
  margin-bottom: 20px;
}