<footer class="gbl-foot bluebg">
	<div class="grid">
		<div class="col-1-1">
			<div class="foot-info left">
				<p>© 2016 Niall Henn</p>
				<p>This website is built with <a href="http://www.metalsmith.io/">Metalsmith,</a> <a href="http://gulpjs.com/">Gulp,</a> and <a href="http://sass-lang.com/">Sass</a> from <a href="https://github.com/patrickheeney">Patrick Heeney's</a> base.</p>
			</div>

			
			<ul class="right">
				{{#each sociallinks}}
					<li class="social-icon right">
						<a href="{{this.link}}">
						<img src="/img/social/{{this.img}}"/></a>
					</li>
	 			{{/each}}
			</ul>

		</div>
	</div>
</footer>