<header class="header portfolio-header bluebg">
	<div class="grid">
		<div class="col-1-1">
			<a class="header-logo" href="/">Niall Henn</a>

			<ul class="dropdown right">
				<li><a class="top-level">Experiments</a>
					<ul class="dropdown-first">
						<li class="dd-title rborder">Browser</li>
						{{#each experiments}}
							<li class="dropdown-item">
								<a href="/{{{ this.path }}}/">{{this.title}}</a>
							</li>
						{{/each}}
						<li class="dd-title rborder">Videos</li>
						{{#each videos}}
							<li class="dropdown-item">
								<a href="/{{{ this.path }}}/">{{this.title}}</a>
							</li>
						{{/each}}
						<li class="dd-title rborder">Artwork</li>
						{{#each artwork}}
							<li class="dropdown-item">
								<a href="/{{{ this.path }}}/">{{this.title}}</a>
							</li>
						{{/each}}
					</ul>
				</li>
			</ul>

			<ul class="dropdown right">
				<li><a class="top-level">Commercial</a>
	
					<ul class="dropdown-first">
						<li class="dd-title rborder">Video</li>
						{{#each commercial-video}}
							<li class="dropdown-item">
								<a href="/{{{ this.path }}}/">{{this.title}}</a>
							</li>
						{{/each}}
						<li class="dd-title rborder">Print</li>
						{{#each commercial-print}}
							<li class="dropdown-item">
								<a href="/{{{ this.path }}}/">{{this.title}}</a>
							</li>
						{{/each}}
					</ul>
				</li>
			</ul>

			
			


		</div>
	</div>
</header>