<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">

	{{#block "head-title"}}
		<title>{{title}}</title>
	{{/block}}

<meta name="description" content="{{ description }}">
<meta name="viewport" content="width=device-width, initial-scale=1">

<script src="https://use.typekit.net/ryb6sqv.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>

<link href="http://www.niallhenn.com/fonts/1308-VXBCPC.css" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="/assets/style.css">
	{{#block "head-scripts"}}
	{{/block}}
</head>