<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">

	{{#block "head-title"}}
		<title>{{title}}</title>
	{{/block}}

<meta name="description" content="{{ description }}">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i" rel="stylesheet">
<script src="https://use.typekit.net/gkq2bwc.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>

<link rel="stylesheet" type="text/css" href="/assets/style.css">
	{{#block "head-scripts"}}
	{{/block}}
</head>