<!doctype html>
<html lang="en">

  {{> head}}

  <body data-function="{{function}}">

    {{> header}}

  {{> hero-container down-arrow=true}}

  <div class="para-below">
    <div class="parallax-bg-1"></div>
    <div class="parallax-bg-2"></div>
    <div class="parallax-bg-3"></div>
    <div id="main-content" class="parallax-content">

      <div class="central-block">
        {{{contents}}}
      </div>

      <div class="central-block available-block">
        Available for Contract Work<br />
        <a href="/contact/">Let's Talk</a>
      </div>
      <div class="central-block skills-block">
        <h3 class="skills-title">{{skills-title}}</h3>
        <ul class="skills">
          {{#each skills}}
            <li>
              {{this}}
            </li>
          {{/each}}
        </ul>
      </div>
      <div class="central-block skills-block">
        <h3 class="skills-title">{{tools-title}}</h3>
        <ul class="skills">
          {{#each tools}}
            <li>
              {{this}}
            </li>
          {{/each}}
        </ul>
      </div>

    </div>
  </div>


  {{>footer}}


    <!-- Vendor Scripts -->
    {{> vendor-scripts jquery=true}}

    <!-- Page Scripts -->
    {{> page-scripts site-script=true}}

    {{> google-analytics}}

  </body>
</html>