<!doctype html>
<html lang="en">

  {{> head}}

  <body data-function="{{function}}">

  {{> header}}

  <div id="home-hero" class="homehero-outer full-width-box">
    <canvas id="papercanvas" class="homecanvas" resize></canvas>
    <div class="homehero-inner">
      <div class="homehero-text-outer">
        <div class="homehero-text-inner">
          <h1 class="hero-title">Let's Talk</h1>
          <div class="homesub-container homesub-layout">
            <h3 class= "homesub-text homesub-tag"><a href="mailto:yo@niallhenn.com">yo@niallhenn.com</a></h3>
            <ul class="contact-social">
              {{> socialicons}}
            </ul>
          </div>
        </div>
      </div>
    </div>



  </div>

    <!-- Vendor Scripts -->
    {{> vendor-scripts jquery=true paper=true}}

    <!-- Page Scripts -->
    <script type="text/javascript" src="/assets/site.js"></script>
    <script type="text/javascript" src="/assets/contactcanvas.js"></script>

    {{> google-analytics}}

  </body>
</html>