<!doctype html>
<html lang="en">

  {{> head}}

<body data-function="{{function}}">

  {{> header}}

  <div id="home-hero" class="homehero-outer full-width-box">
    <canvas id="papercanvas" class="homecanvas" resize></canvas>
    <div class="homehero-inner">
      <div class="homehero-text-outer">
        <div class="homehero-text-inner">
          <h1 class="hero-title">Let's Talk</h1>
          <div class="homesub-container homesub-layout">
            <h3 class= "homesub-text homesub-tag"><a href="mailto:yo@niallhenn.com">yo@niallhenn.com</a></h3>
            <ul class="contact-social">
              {{> socialicons}}
            </ul>
          </div>
        </div>
      </div>
    </div>



  </div>


    <script src="/assets/vendor/paper-full.js"></script>
    <script type="text/javascript" src="/assets/contactcanvas.js"></script>

    <script src="/assets/vendor/jquery-3.1.0.min.js"></script>
    <script src="https://player.vimeo.com/api/player.js"></script>

    <script>
      $("#about-menu-btn").click(function(event) {
        event.preventDefault();
        $('.menu-top').toggleClass( "showmenu" )
      });

      $(document).ready(function() {
        $(window).scroll( function(){
          var scrollTop = $(window).scrollTop();

          if(scrollTop >= 100) {
            $('body').addClass( "scrolleddown" );
          }

          if(scrollTop <= 100) {
            $('body').removeClass( "scrolleddown" );
          }

          $('.para-below-blue-1').css("margin-top", (0 - (scrollTop*0.45))+"px");
          $('.para-below-blue-2').css("margin-top", (0 - (scrollTop*0.30))+"px");
          $('.para-below-blue-3').css("margin-top", (0 - (scrollTop*0.15))+"px");

        });
      });
    </script>


    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-34958429-1', 'auto');
      ga('send', 'pageview');

    </script>

  </body>
</html>