<!doctype html>
<html lang="en">

  {{> head}}

  <body data-function="{{function}}">



	<div id="home-hero" class="homehero-outer full-width-box">

    <canvas id="papercanvas" class="homecanvas" resize></canvas>

		<div class="homehero-inner">
			<div class="homehero-text-outer">
				<div class="homehero-text-inner">
					<h1 class="hero-title">Niall Henn</h1>
          <div class="homesub-container homesub-layout">
            <h3 class= "homesub-text homesub-tag">{{subtitle}}</h3>
            <ul class="homesub-menu">
              <li><h3 class="homesub-text"><a href="about/">About</a></h3></li>
              <!-- <li><h3 class="homesub-text"><a href="">Work</a></h3></li> -->
              <li><h3 class="homesub-text"><a href="experiments/">Experiments</a></h3></li>
              <li><h3 class="homesub-text"><a href="contact/">Contact</a></h3></li>
            </ul>
          </div>
				</div>
			</div>

      <div class="home-btn-container">
        <button id="fs-video" class="btn-showreel">Showreel</button>
        <button id="homemenu" alt="show and hide the menu" class="btn-showmenu"></button>
      </div>

    </div>

	</div>

  {{> video-container}}

  <!-- Vendor Scripts -->
  {{> vendor-scripts jquery=true paper=true vimeo=true}}

  {{> page-scripts video-script=true}}

  {{> google-analytics}}

  </body>
</html>