<!doctype html>
<html lang="en">

  {{> head}}

  <body data-function="{{function}}">

    {{> header}}



	<div class="header-image full-width-box">
  <canvas id="papercanvas" class="homecanvas"></canvas>
		<div class="header-inner">
			<div class="header-text-outer">
				<div class="header-text-inner">
					<h1 class="home-logo">Niall Henn</h1>
          <h3 class="home-sub">Craft and Code</h3>
				</div>
			</div>

      <a class="home-button down-arrow-outer" data-attr-scroll="home-info" id="info-button">
        <span class="down-arrow"></span>
      </a>

		</div>
	</div>


    <script src="/assets/vendor/paper-full.js"></script>
    <script type="text/javascript" src="/assets/homecanvas.js"></script>

  </body>
</html>