{{#extend "default"}}
  {{#content "main"}}

	<div class="header-image full-width-box">
		<div class="header-inner">

			<div class="header-text-outer">
				<div class="header-text-inner">
					<h1 class="home-logo">Niall Henn</h1>
          <h3 class="home-sub">Design Generalist and an Artist of sorts</h3>
				</div>				
			</div>

      <a id="home-button" class="home-button">Check me Out</a>
		</div>
	</div>

  <div class="home-info col-1-1">
    <p>Hi there, my name is Niall.</p>

    <p>I'm a multidisciplinary designer working professionally since 2009, in that time shifting from print to digital to motion. Currently the Lead Motion Designer at pebble code.
    </p>

    <p>I live and work in London.</p>
  </div>

	<div id="lower-content" class="grid home-lower">

  <div class="col-1-1 center-block">
    <h2 class="">Showreel</h2>
  </div>

  <div class="port-section col-1-1">
    <h3 class="port-title rborder">Commercial Portfolio</h3>
  </div>
    <div class="col-1-3 mainwrap">
      <ul class="port-list">
        <li>Digital</li>
	    {{#each commercial-digital}}
			<li><a href="/{{{ this.path }}}/">{{this.title}}</a></li>
		{{/each}}
      </ul>
    </div>
    <div class="col-1-3 mainwrap">
      <ul class="port-list">
        <li>Print</li>
	    {{#each commercial-print}}
			<li><a href="/{{{ this.path }}}/">{{this.title}}</a></li>
		{{/each}}
      </ul>
    </div>
    <div class="col-1-3 mainwrap">
      <ul class="port-list">
        <li>Video</li>
	    {{#each commercial-video}}
			<li><a href="/{{{ this.path }}}/">{{this.title}}</a></li>
		{{/each}}
    </ul>
    </div>

    <div class="port-section col-1-1">
    <h3 class="port-title rborder">Experiments</h3>
  </div>
    <div class="col-1-3 mainwrap">
      <ul class="port-list">
      	<li>Online</li>
	    {{#each experiments}}
			<li><a href="/{{{ this.path }}}/">{{this.title}}</a></li>
		{{/each}}
      </ul>
    </div>
    <div class="col-1-3 mainwrap">
      <ul class="port-list">
        <li>Offline</li>
	    {{#each artwork}}
			<li><a href="/{{{ this.path }}}/">{{this.title}}</a></li>
		{{/each}}
      </ul>
    </div>
    <div class="col-1-3 mainwrap">
      <ul class="port-list">
        <li>Films</li>
	    {{#each videos}}
			<li><a href="/{{{ this.path }}}/">{{this.title}}</a></li>
		{{/each}}
    </ul>
    </div>
  </div>
  {{/content}}

  {{#content "scripts"}}
    <script src="/assets/vendor/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="/assets/home.js"></script>
  {{/content}}
{{/extend}}
