<!doctype html>
<html lang="en">

    {{> head}}

  <body data-function="{{function}}">
    
    {{> header-portfolio}}

    {{> portfolio-info}}

    <!-- <div class="portfolio-images full-width-block"> -->
      {{#each imgs}}
      <div class="{{this.class}} portfolio-images">
        <img src="/img/portfolio/{{this.img}}"></div>
      </div>
      {{/each}}
    <!-- </div> -->
    

    <script src="/assets/vendor.js" async></script>
    <script src="/assets/app.js" async></script>


  </body>
</html>
