<!doctype html>
<html lang="en">

  {{> head}}

  <body data-function="{{function}}">

    {{> header}}


    {{#if nooverlay}}

    {{else}}
    <div id="fs-video" class="video-play-outer" class="">
        <button class="video-btn video-btn-txt shadow-box">play</button>
    </div>
    {{/if}}

    <video class="bgvideo" id="officespace" preload="" src="{{bgvideolink}}" autoplay="" loop=""></video>

    {{#if nooverlay}}

    {{else}}
      {{> video-container}}
    {{/if}}

    <!-- Vendor Scripts -->
    {{> vendor-scripts jquery=true vimeo=true}}

    <!-- Page Scripts -->
    {{> page-scripts site-script=true video-script=true}}
  </body>
</html>
