$lightcanvascolour: #FCF7E9;
$darkcanvascolour: #113;

.bgcanvas {
  width: 100%;
  height: 100%;
}

.canvasheader {
  position: absolute;
  top:0;
  left:0;
  z-index: 999;
  background: $paper;
}

.ltcanvas {
  background: $lightcanvascolour;
}

.drkcanvas {
  background: $darkcanvascolour;
}