//===============================================================================
// Full Width home Image
//===============================================================================

.header-image {
  background: $clr2; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient($clr2, $clr3); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient($clr2, $clr3); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient($clr2, $clr3); /* For Firefox 3.6 to 15 */
  background: linear-gradient($clr2, $clr3); /* Standard syntax */
  padding: 24px;
}
.header-inner {
  width:100%;
  height: 100%;
  background: $paper;
}

.header-text-outer {
    display: table;
    width: 100%;
    height: 100%;
}

.header-text-inner {
  display: table-cell;
    position: relative;
    vertical-align: middle;
    text-align: center;
    h1{
      color: $clr2;
      font-size: 126px;
      letter-spacing: .03em;
  }
}

.full-width-box {
  width: 100%;
  height: 100%;
  position: relative;
}

.home-button {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%,0)
}

.home-logo {
  color: $clr3;
  font-weight: lighter;
  margin-bottom: 0px;
  margin-top: 24px;
  font-size: 64px;
  line-height: 0.8;

  font-feature-settings: "kern" on, "liga" on, "calt" on, "ss01";
    -moz-font-feature-settings: "kern" on, "liga" on, "calt" on, "ss01";
    -webkit-font-feature-settings: "kern" on, "liga" on, "calt" on, "ss01";
    -ms-font-feature-settings: "kern" on, "liga" on, "calt" on, "ss01";
    -o-font-feature-settings: "kern" on, "liga" on, "calt" on, "ss01";
}

.home-header-hidden {
  .home-header-hide {
    display: none;
  }
}

.home-sub {
  color: lighten($clr3, 10%);
  font-family: $serif;
  font-weight: light;
  font-style: italic;
  font-size: 24px;
  margin-top: 14px;
  // line-height:2.4;
  &:before {
    content: "";
    border-top: 6px solid white;
    width: 80px;
    background:#f0f;
    height:5px;
    display: block;
    // margin:auto;
    left: 50%;
    margin-left: -40px;
    position: absolute;
    margin-top: -12px;
  }
}

.home-lower {
  padding-bottom: 128px;
}

.home-info {
  margin-top: 100px;
  font-size: 20px;
  color: $clr3;
  font-style: italic;
  p{
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
  }
}