//===============================================================================
// MIXINS
//===============================================================================
// CLEAR FIX
// @include clearfix;
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// HIDE TEXT
// @include hide-text;
@mixin hide-text {
  overflow: hidden;

  &:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
  }
}

// MARGIN AUTO
// @include margin-auto;
@mixin margin-auto {
  margin-left: auto;
  margin-right: auto;
}

// fluidBG
// @include fluidBG
@mixin fluidBG {
  background: url('/img/shared/fluidgraphic-full.jpg');
  background-size: cover;
}


// gradientBG
// @include gradientBG
@mixin gradientBG {
  background: $clr2; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient($clr2, $clr3); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient($clr2, $clr3); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient($clr2, $clr3); /* For Firefox 3.6 to 15 */
  background: linear-gradient($clr2, $clr3); /* Standard syntax */
}


$sunsetpink: #ffA6B2;
$litegdclr1: #d4f0fd;//lighten(#FEE9D6, 5%);
$litegdclr2: #ffA6B2;

@mixin litegradientBG {
  background: $clr2; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient($paper, $litegdclr2); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient($paper, $litegdclr2); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient($paper, $litegdclr2); /* For Firefox 3.6 to 15 */
  background: linear-gradient($paper, $litegdclr2); /* Standard syntax */
}
