
//===============================================================================
// VARIABLES
//===============================================================================
// $paper:  #FEE9D6;
// $ink:    black;

$bgColour: #FCF7E9;

//===============================================================================
// BASICS
//===============================================================================


html,
body {
  background-color: $paper;
  color: $ink;
  font-family: sans-serif;
  line-height: 1.4;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.home-header {
  padding-top: 48px;
}

